<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Support.fm - Homepage</title>
        <script src="../bower_components/uikit/node_modules/jquery/dist/jquery.js"></script>
        <link rel="stylesheet" href="../bower_components/uikit/dist/css/uikit.supportfm.css">
        <script src="../bower_components/uikit/dist/js/uikit.js"></script>
        <script src="../bower_components/uikit/dist/js/uikit-icons.js"></script>
        <script src="assets/swiper.jquery.min.js"></script>
        <link rel="stylesheet" href="assets/swiper.css">
    </head>

    <body>
	    
	    <nav class="uk-navbar-container uk-margin uk-sticky uk-sticky-fixed" uk-sticky="show-on-up: true; animation: uk-animation-slide-top" style="position: fixed; top: 0px; width:100%;">
          <div class="uk-container">
              <div uk-navbar="" class="uk-navbar">
                  <div class="uk-navbar-left">

                      <a class="uk-navbar-item uk-logo" href="#"><img src="assets/img/logo.svg" width="160px" height="auto" title="Support.fm" alt="Support.fm"/></a>

                      <ul class="uk-navbar-nav uk-navbar-center">
                          <li><a href="#">People</a></li>
                          <li><a href="#">Organizations</a></li>
                          <li><a href="#">Blog</a></li>
                          <li><a href="#">About</a></li>
                      </ul>

                  </div>
                  <div class="uk-navbar-right">
                      <a class="uk-navbar-toggle uk-search-icon uk-icon" href="#search-modal" uk-search-icon="" uk-toggle=""></a>
                      <a class="uk-navbar-toggle uk-navbar-toggle-icon uk-icon" href="#offcanvas" uk-navbar-toggle-icon="" uk-toggle=""></a>
                  </div>
              </div>
          </div>
      </nav>
	  
        <div class="uk-container home">
	        
	        <div uk-grid class="uk-grid">
		        <div class="uk-width-1-1 uk-first-column">
		        	<div class="uk-background-cover uk-flex uk-flex-left uk-flex-bottom" style="height: 70vh; background-image: url('assets/img/drawing-sample.jpg');">
			        	<div uk-grid class="uk-grid uk-padding">
				        	<div class="uk-width-1-1 uk-first-column">
              			<h1 class="uk-heading-large">Development Underway</h1>
				        	</div>
				        	<div class="uk-width-expand">
              			<p>Mauris venenatis magna eu tortor posuere luctus. Aenean tincidunt turpis sed dui aliquam vehicula. Praesent nec elit non dolor consectetur tincidunt sed in felis.</p>
				        	</div>
				        	<div class="uk-width-auto">
              			<a class="uk-button uk-button-primary" href="#">Read more...</a>
				        	</div>
								</div>
		        	</div>
		        </div>
	        </div>
	        	      	      
	      </div>
	      
	      <div class="uk-container uk-margin-large-top">
		      <div uk-grid class="uk-child-width-1-3@s uk-grid">
		      	<div class="uk-first-column">
              <div class="uk-card uk-card-default">
	              <div class="uk-card-media-top">
                    <img src="assets/img/nina-photo.png" alt="">
                </div>
	              <div class="uk-card-header">
                  <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                      <div class="uk-width-auto uk-first-column">
	                      	<img class="profile-symbol" src="assets/img/icon-detained.svg" width="25">
                          <img class="uk-border-circle" src="assets/img/nina-profile.png" width="50" alt="">
                      </div>
                      <div class="uk-width-expand">
                          <h3 class="uk-card-title uk-margin-remove-bottom">Nina Chaubal</h3>
                          <p class="uk-text-meta uk-margin-remove-top">Trans Lifeline</p>
                      </div>
                  </div>
                </div>
                <div class="uk-card-footer">
                  <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
	                  <div class="uk-width-auto uk-first-column">
		                  <p class="profile-status warning">In Detention</p>
	                  </div>
	                  <div class="uk-width-expand">
		                  <p class="profile-timer">4 Days</p>
	                  </div>
	                  <div class="uk-width-expand">
		                  <p class="profile-location">Eloy, AZ</p>
	                  </div>
                  </div>
                </div>
              </div>
            </div>
		      	<div>
              <div class="uk-card uk-card-default">
	              <div class="uk-card-media-top">
                    <img src="assets/img/nina-photo.png" alt="">
                </div>
	              <div class="uk-card-header">
                  <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                      <div class="uk-width-auto uk-first-column">
	                      	<img class="profile-symbol" src="assets/img/icon-detained.svg" width="25">
                          <img class="uk-border-circle" src="assets/img/nina-profile.png" width="50" alt="">
                      </div>
                      <div class="uk-width-expand">
                          <h3 class="uk-card-title uk-margin-remove-bottom">Nina Chaubal</h3>
                          <p class="uk-text-meta uk-margin-remove-top">Trans Lifeline</p>
                      </div>
                  </div>
                </div>
                <div class="uk-card-footer">
                  <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
	                  <div class="uk-width-auto uk-first-column">
		                  <p class="profile-status warning">In Detention</p>
	                  </div>
	                  <div class="uk-width-expand">
		                  <p class="profile-timer">4 Days</p>
	                  </div>
	                  <div class="uk-width-expand">
		                  <p class="profile-location">Eloy, AZ</p>
	                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
	              <div class="uk-card-media-top">
                    <img src="assets/img/nina-photo.png" alt="">
                </div>
	              <div class="uk-card-header">
                  <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                      <div class="uk-width-auto uk-first-column">
	                      	<img class="profile-symbol" src="assets/img/icon-detained.svg" width="25">
                          <img class="uk-border-circle" src="assets/img/nina-profile.png" width="50" alt="">
                      </div>
                      <div class="uk-width-expand">
                          <h3 class="uk-card-title uk-margin-remove-bottom">Nina Chaubal</h3>
                          <p class="uk-text-meta uk-margin-remove-top">Trans Lifeline</p>
                      </div>
                  </div>
                </div>
                <div class="uk-card-footer">
                  <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
	                  <div class="uk-width-auto uk-first-column">
		                  <p class="profile-status warning">In Detention</p>
	                  </div>
	                  <div class="uk-width-expand">
		                  <p class="profile-timer">4 Days</p>
	                  </div>
	                  <div class="uk-width-expand">
		                  <p class="profile-location">Eloy, AZ</p>
	                  </div>
                  </div>
                </div>
              </div>
            </div>
		      </div>
	      </div>
	      
				<div class="uk-section uk-section-default">
            <div class="uk-container uk-position-relative">

                <h1>Partner Organizations</h1>

            </div>
        </div>
				   

    <div class="swiper-container uk-margin">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/img/orgs/bnp.png">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/orgs/tqp.png">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/orgs/song.png">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/orgs/f2l.png">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/orgs/ftqlm.png">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/orgs/lbcf.png">
          </div>
        </div>
    </div>
				
				<div class="uk-section uk-section-primary uk-section-small">
            <div class="uk-container">

                <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid="">
                    <div class="uk-width-expand uk-first-column">
                        <p class="uk-text-large">Support.fm is a platform to help grassroots collectives and organizations raise bail, bond, and other prison-related costs for trans and gender nonconforming people (GNC) in jail, prison, and detention.</p>
                    </div>
                    <div class="uk-width-auto">
                        <a class="uk-button uk-button-primary uk-button-large" href="#">Learn More</a>
                    </div>
                </div>

            </div>
        </div>
				
	     <p class="uk-notification-message uk-notification-message-primary" data-pos="bottom-center">
          <a href="#" class="uk-notification-close" uk-close></a>
          We are still in beta version. Report any feedback by contacting us or on Github.
      </p>
      
      <div id="search-modal" uk-modal="center: true">
          <div class="uk-modal-dialog">

              <button class="uk-modal-close-default" type="button" uk-close></button>

              <div class="uk-modal-body uk-text-center uk-padding-large">

                  <form class="uk-search uk-search-large uk-margin-auto">
                      <input class="uk-search-input uk-text-center" type="search" placeholder="Search..." autofocus>
                  </form>

              </div>
          </div>
      </div>
        
      <div id="offcanvas" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">

            <ul class="uk-nav uk-nav-default">
                <li class="uk-active"><a href="#">Active</a></li>
                <li class="uk-parent">
                    <a href="#">Parent</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Sub item</a></li>
                        <li><a href="#">Sub item</a></li>
                    </ul>
                </li>
                <li class="uk-nav-header">Header</li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
            </ul>

            <button class="uk-button uk-button-default uk-offcanvas-close uk-width-1-1 uk-margin" type="button">Close</button>

            <h3>Title</h3>

            <p>Raising funds for the costs of incarceration for trans and GNC people.</p>

        </div>
      </div>
	    
    </body>
    
<!-- Initialize Swiper -->
<script>
var swiper = new Swiper('.swiper-container', {
    spaceBetween: 80,
    centeredSlides: true,
    autoplay: 2500,
    autoplayDisableOnInteraction: false,
    slidesPerView: 5,
    loop: true,
    freeMode: true
});
</script>
    
</html>