<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Support.fm - Styleguide</title>
        <script src="../bower_components/uikit/node_modules/jquery/dist/jquery.js"></script>
        <link rel="stylesheet" href="../bower_components/uikit/dist/css/uikit.supportfm.css">
        <script src="../bower_components/uikit/dist/js/uikit.js"></script>
        <script src="../bower_components/uikit/dist/js/uikit-icons.js"></script>
    </head>

    <body>
	    
	    <nav class="uk-navbar-container uk-margin uk-sticky uk-sticky-fixed" uk-sticky="show-on-up: true; animation: uk-animation-slide-top" style="position: fixed; top: 0px; width:100%;">
          <div class="uk-container">
              <div uk-navbar="" class="uk-navbar">
                  <div class="uk-navbar-left">

                      <a class="uk-navbar-item uk-logo" href="#"><img src="assets/img/logo.svg" width="160px" height="auto" title="Support.fm" alt="Support.fm"/></a>

                      <ul class="uk-navbar-nav uk-navbar-center">
                          <li><a href="#">People</a></li>
                          <li><a href="#">Organizations</a></li>
                          <li><a href="#">Blog</a></li>
                          <li><a href="#">About</a></li>
                      </ul>

                  </div>
                  <div class="uk-navbar-right">
                      <a class="uk-navbar-toggle uk-search-icon uk-icon" href="#search-modal" uk-search-icon="" uk-toggle=""></a>
                      <a class="uk-navbar-toggle uk-navbar-toggle-icon uk-icon" href="#offcanvas" uk-navbar-toggle-icon="" uk-toggle=""></a>
                  </div>
              </div>
          </div>
      </nav>
	    
	    
	  
        <div class="uk-container profile">
	        <div uk-grid class="uk-grid">
		        <div class="uk-width-2-3@m uk-first-column">
			        	<h1>Nina Chaubal</h1>
								<p class="uk-text-lead">Help #FreeNina from ICE Detention in Arizona, where she was detained at a CBP checkpoint while traveling near the US-Mexico border.</p>
		        </div>
	        </div>
	      
		      <div uk-grid class="uk-grid">
	               
						<div class="uk-width-2-3@m">
							<div class="uk-inline-clip">
                  <img src="assets/img/nina-profile.png" alt="">
              </div>
						</div>
						
						<div class="uk-width-1-3@m">
							<div class="uk-card uk-card-body uk-card-default">
                <p>In Detention</p>
                <p>Status</p>
                <p>4 Days</p
                <p>Time spent Incarcerated</p>
                <p>Eloy Detention Center</p>
                <p>Eloy, AZ</p>>
              </div>
              <button class="uk-button uk-button-primary">Support Trans Queer Pueblo</button>
              
	               <p>43<br>shares</p>
	                <button class="uk-button uk-button-default">Share</button>
               
              <div class="uk-card uk-card-body uk-card-default">
	              <p>Created February 02, 2017</p>
	              <h3>Trans Queer Pueblo</h3>
	              <p>We are an autonomous LGBTQ+ migrant community of color who works wherever we find our people, creating cycles of mutual support that cultivate leadership to generate the community power that will liberate our bodies and minds from systems of oppression toward justice for all people.</p>
              </div> 
						</div>
	        </div>
		      
		      <div uk-grid class="uk-grid">
			      <div class="uk-width-2-3@m uk-first-column">
				      <h2>Nina's Story</h2>
				      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra eget nibh. Suspendisse luctus mattis cursus.</p>
							<p>Mauris venenatis magna eu tortor posuere luctus. Aenean tincidunt turpis sed dui aliquam vehicula. Praesent nec elit non dolor consectetur tincidunt sed in felis.</p>
							<div class="uk-inline-clip">
                  <img src="assets/img/nina-photo.png" alt="">
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra eget nibh. Suspendisse luctus mattis cursus.</p>
			      </div>
			      
		        <div class="uk-width-1-3@m">  
			        <h2>Updates</h2>
			        <div class="uk-card uk-card-body uk-card-default">
				        <div class="update-clip">
					        <span>02/02/2017</span>
					        <h4>Bail Bond Successfully Posted</h4>
					        <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. Donec id dignissim nunc.</p>
				        </div>
				        <div class="update-clip">
					        <span>02/02/2017</span>
					        <h4>A Note from Nina</h4>
					        <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta.</p>
				        </div>
				        <div class="update-clip">
					        <span>02/02/2017</span>
					        <h4>Update on Detention Status</h4>
					        <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta.</p>
				        </div>
			        </div>
		        </div>
		      </div>
	      
	      </div>

	    
      
      <div id="search-modal" uk-modal="center: true">
          <div class="uk-modal-dialog">

              <button class="uk-modal-close-default" type="button" uk-close></button>

              <div class="uk-modal-body uk-text-center uk-padding-large">

                  <form class="uk-search uk-search-large uk-margin-auto">
                      <input class="uk-search-input uk-text-center" type="search" placeholder="Search..." autofocus>
                  </form>

              </div>
          </div>
      </div>
        
      <div id="offcanvas" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">

            <ul class="uk-nav uk-nav-default">
                <li class="uk-active"><a href="#">Active</a></li>
                <li class="uk-parent">
                    <a href="#">Parent</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Sub item</a></li>
                        <li><a href="#">Sub item</a></li>
                    </ul>
                </li>
                <li class="uk-nav-header">Header</li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
            </ul>

            <button class="uk-button uk-button-default uk-offcanvas-close uk-width-1-1 uk-margin" type="button">Close</button>

            <h3>Title</h3>

            <p>Raising funds for the costs of incarceration for trans and GNC people.</p>

        </div>
      </div>

	    
    </body>
</html>